* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo Black", sans-serif
}

body {
  background: #222633;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-container {
  background: #2b3041;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  height: 60px;
  width: 300px;
  border-radius: 10px;
  font-size: 24px;
  text-align: end;
  color: #fff;
  padding: 0 10px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  height: 60px;
  width: 60px;
  font-family: inherit;
  color: #fff;
  font-size: 18px;
  background: #8a8a8a;
  border-radius: 15px;
  border: 2px solid #2b3041;
  cursor: pointer;
  transition: all 0.3s all;
}

button:hover {
  transform: scale(1.05);
}

.operators {
  background: #2a73e0;
}

.clear {
  background: #df4a4a;
  width: 140px;
}

.zero {
  width: 140px;
}

.equal {
  background: #20cca7;
}